/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	user-select:none;
	outline:none;
	text-decoration: none;
}

body{
    background: #007bff;
}

a,h1{
	color:yellow;
	font-size: 30px;
	letter-spacing:2px;
	font-weight: bold;
	cursor:pointer;
}

h1{
	text-align: center;
	text-transform: uppercase;
	padding:30px;
	font-size: 40px;
	color:yellow;
}

.btns{
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items: center;
	margin-top:2%;
}


.start_btn {
	font-size:25px;
	padding:10px 15px;
	margin-bottom:70px;
	border-radius: 7px;
	cursor:pointer;
	transition:all 0.5s linear;
}

.start_btn:hover{
	background: #4fa2fb;
}

